.formulario{
    background-color: green;
    color: white;
    padding: 50px;
    width: 330px;
    margin: 0 auto;
    
}
.espaciado{
    padding-left: 30px;
}
label{
    display: inline-block;
    width: 80px;
}
input{
    border: 3px solid red;
}

.boton{
    border-top: 2px dashed ;
    padding:20px
}
.btn{
    border: 5px;
    padding: 4px;
    border-radius: 5%;
}
